<div class="container center" id="aboutcontainer1">
  <section>
    <h1>About Hermota Fitness</h1>
    <div class="row">
      <div class="col-md-2">
        
      </div>
      <div class="col-md-10">
        <p>Dorota's Bio</p>
      </div>
    </div>
    <div class="row"> <!-- style="border: solid 1px black;-->
      <div class="col-md-2">
        <image src="/assets/dorotasoto_gravatar.jpg" alt="dotora's Bio Pic" class="img-circle" height="140px">
      </div>
      <div class="col-md-8 col-md-offset-1">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut 
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        
      </div>
      <div class="col-md-10">
        <p>Dorota's Bio</p>
      </div>
    </div>
    <div class="row"> <!-- style="border: solid 1px black;-->
      <div class="col-md-2">
        <image src="/assets/dorotasoto_gravatar.jpg" alt="dotora's Bio Pic" class="img-circle" height="140px">
      </div>
      <div class="col-md-8 col-md-offset-1">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut 
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        
      </div>
      <div class="col-md-10">
        <p>Dorota's Bio</p>
      </div>
    </div>
    <div class="row"> <!-- style="border: solid 1px black;-->
      <div class="col-md-2">
        <image src="/assets/dorotasoto_gravatar.jpg" alt="dotora's Bio Pic" class="img-circle" height="140px">
      </div>
      <div class="col-md-8 col-md-offset-1">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut 
      </div>
    </div>
    
  </section>
</div>

