$navbar-default-bg: black; /*Change navbar color */


  
@import "bootstrap-sprockets";
@import "bootstrap";

/*-----------------------------------------*/
/*-----------------aplication.html.erb--------------*/
/*-----------------------------------------*/

body {
  /*min-height: 1000px;*/
  padding-top: 50px;
  
}

#notice_msg {
  /*margin-top: 20px;*/
}


/*-----------------------------------------*/
/*-----------------pages#home--------------*/
/*-----------------------------------------*/



.center {
  text-align: center;
}



.bg-image1 {
  margin-top: -20px;
  background-image: asset-url("training-train-lime-barbell.jpeg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-position: center;
  
}

#hometitle {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlg {
  font-size: 1.7em;
  background-color: Black;
}

/*--------------------------------------------------*/
/*-----------------layouts#_navigation--------------*/
/*--------------------------------------------------*/


.navbar-default .navbar-nav > li > a {
  color: #fff;
}

/* line 418, /usr/local/rvm/gems/ruby-2.3.0/gems/bootstrap-sass-3.3.6/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: black;
    color: #fff;
}


.navbar-default {
  /*background: linear-gradient(to bottom right,rgba(0, 0, 134, 0.9), rgba(40, 56, 229, 0.8));*/
  /*background: linear-gradient(blue, black); /*2 color gradient*/
  
}

/*@media (min-width: 768px) {
  /* line 50, /usr/local/rvm/gems/ruby-2.3.0/gems/bootstrap-sass-3.3.6/assets/stylesheets/bootstrap/_navbar.scss */
/*  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
*/
#logo {
  /*padding-top: 30px;*/
  color: #fff;
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  /*font-family: 'Metrophobic', Arial, serif; font-weight: 400;*/
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/*--------------------------------------------------*/
/*-----------------layouts#_footer--------------*/
/*--------------------------------------------------*/


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/*------------------------------------------*/
/*---------------pages#about-----------------*/
/*------------------------------------------*/

#abouttitle {
  margin-bottom: 30px;
}


/*------------------------------------------------------*/
/*----------------users#new  Sign Up page-----------------*/
/*-------------sessions#new  login page------------------*/

#signup {
  margin-top: 50px;
  background-color: #9fc5f8;
  height: 600px;
}

.logotop {
  margin-left: 100px;
}

.logobottom {
  padding-left: 60px;
  margin-top: -5px;
  margin-left: 100px;
}

.signuptitle {
  margin-bottom: 40px;
}

#canceltext {
  margin-top: 70px;
}

/*--------------------------------------------------*/
/*-----------------users index page-----------------*/
/*--------------------------------------------------*/

.listing {
  list-style: none;
  padding-left: 0;
}

/*--------------------------------------------------*/
/*-----------------Member Area page-----------------*/
/*--------------------------------------------------*/

 
#memberbgimage {
  background-image: asset-url("training_bg_pic.jpg");
  background-size: cover;
  height: 750px;
}

/*--------------------------------------------------*/
/*-----------------User Edit page-----------------*/
/*--------------------------------------------------*/

#delete-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*------------------------------------------*/
/*---------------nutrition page-----------------*/
/*------------------------------------------*/

.bg-image {
  background-image: asset-url("nutrition-weights.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/nutrition-weights.jpg');*/
}