<div class="container">
  <footer class="footer">
    <small>
      Copyright © <a href="http://www.hermotafitness.com">The training spot</a>
      by <a href="http://www.hermansoto.com">Herman Soto</a>
    </small>
    <nav>
      <ul>
        <li><a href="https://twitter.com/HermotaFitness">Twitter</a></li>
      </ul>
    </nav>
  </footer>
</div>